<br>
<table class="table">
  <thead class="thead-dark">
  <tr style="text-align: center;">
    <th><input class="form-control" placeholder="Название дисциплины..." [(ngModel)]="query" (ngModelChange)="change($event)"></th>
    <th (click)="sortSem()"  style="cursor: pointer;">Номер семестра</th>
    <th>Оценка</th>
    <th>Дата</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of marks" style="text-align: center;">
    <td>{{data.discipline.name}}</td>
    <td>{{data.semesterNumber}}</td>
    <td>{{data.mark}}</td>
    <td>{{data.date}}</td>
  </tr>
  </tbody>
</table>
