<br><br><br>
<div class="container col-md-3">
  <h1>Авторизация</h1><br>
  <div class="contact-form">
    <form #myForm="ngForm">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <small id="emailHelp" class="form-text text-muted"> Введите ваш e-mail для авторизации!</small>
        <input type="email"id="email" placeholder="E-mail" [(ngModel)]="auth.email" name="email" required class="form" />
        <small id="passwordHelp" class="form-text text-muted"> Введите ваш пароль для авторизации!</small>
        <input type="password" id="inputPassword" placeholder="Password" [(ngModel)]="auth.password" name="password" required class="form" />
      </div>
      <div class="relative fullwidth col-xs-12">
        <button (click)="submit()" [disabled]="myForm.invalid" id="submit" name="submit" class="form-btn semibold">Авторизироваться</button>
      </div><br>
      <div class="alert alert-danger" [hidden]="error === undefined">
        Ошибка авторизации!
      </div>
    </form>
  </div>
</div>
