<div class="item-content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Домой</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/student" routerLinkActive="active">Студент</a>
          <a class="nav-item nav-link" routerLink="/marks" routerLinkActive="active">Оценки</a>
          <a class="nav-item nav-link" routerLink="/misses" routerLinkActive="active">Пропуски</a>
          <a class="nav-item nav-link" routerLink="/debts" routerLinkActive="active">Задолженности</a>
          <a class="nav-item nav-link active" routerLink="/auth" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">Авторизация <span class="sr-only">(current)</span></a>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div *ngIf="token"><button class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">LogOut</button></div>
      </form> &nbsp;&nbsp;&nbsp;
    </div>
  </nav>


  <router-outlet></router-outlet>
</div>

