<div>
  <tabset>
    <tab heading="Личная информация">
      <ul class="list-group">
        <li class="list-group-item">
        {{student.surname}}
        {{student.name}}
        {{student.patronymic}}
        </li>
        <li class="list-group-item list-group-item-dark">
        Номер телефона: {{student.phone}}
        </li>
        <li class="list-group-item">
        Электронная почта: {{student.email}}
        </li>
      </ul>
    </tab>
    <tab heading="Обучение">
      <ul class="list-group">
        <li class="list-group-item">
      Номер зачётной книжки: {{student.personalNumber}}
        </li>
        <li class="list-group-item list-group-item-dark">
      Факультет: {{student.faculty.name}}
      </li>
        <li class="list-group-item">
      Группа: {{student.group}}
      </li>
      </ul>
    </tab>
    <tab heading="Адрес">
      <ul class="list-group">
        <li class="list-group-item">
      Область: {{student.region}}
        </li>
        <li class="list-group-item list-group-item-dark">
      Район: {{student.district}}
      </li>
        <li class="list-group-item">
      Населённый пункт: {{student.city}}
      </li>
        <li class="list-group-item list-group-item-dark">
      Улица/Проспект: {{student.street}}
      </li>
        <li class="list-group-item">
      Дом: {{student.houseNumber}}
      </li>
        <li class="list-group-item list-group-item-dark">
      Корпус: {{student.corps}}
      </li>
        <li class="list-group-item">
      Квартира: {{student.apartment}}
      </li>
        <li class="list-group-item list-group-item-dark">
      Почтовый индекс: {{student.addressIndex}}
      </li>
      </ul>
    </tab>
  </tabset>
</div>

