<br>
<table class="table curs">
  <thead class="thead-dark">
  <tr style="text-align: center;">
    <th><input class="form-control" placeholder="Название дисциплины..." [(ngModel)]="query" (ngModelChange)="change($event)">
    </th>
    <th (click)="sortSem()"  style="cursor: pointer;">Номер семестра</th>
    <th>Тип</th>
    <th>Оценка</th>
    <th>Дата</th>
    <th>Преподаватель</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of debts" style="text-align: center;">
    <td>{{data.discipline.name}}</td>
    <td>{{data.semester}}</td>
    <td>{{data.examType.name}}</td>
    <td>{{data.mark}}</td>
    <td>{{data.date}}</td>
    <td>
      {{data.teacher.rank}}
      {{data.teacher.surname}}
      {{data.teacher.name}}
      {{data.teacher.patronymic}}
    </td>
  </tr>
  </tbody>
</table>
